@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-dark: #F9A8D4;
    --primary-blue: #312E81;
    --secondary-purple:#818CF8;
    --white-color: #ffffff;
    --black-color: black;
    --grey-color: #9ca3af;
    --brown-color:#bd5612;
  }
  .outer-container{
background-color: var(--primary-dark);
text-align: center;
  }
  h1{
      margin: 0;
      font-size: xx-large;
      font-weight: bold;
      padding: 50px 0;
  }
  label,input{
    font-size: 1.3rem;
    line-height: 40px;
    display: block;
    color: var(--primary-green);
  }
  .input-container{
    width: 50%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  button{
      background-color: var(--black-color);
      color: var(--white-color);
      font-weight: bold;
      font-size: 1rem;
      border: none;
      padding: 20px;
      margin-bottom: 220px;
      border-radius: 0.5rem;
      margin-top: 1rem;
  }
  #output-box{
    font-weight: bold;
    font-size: 1.2rem; 
    color: var(--secondary-purple);
  }

  .privacy {
    width: 50%;
    max-width: 500px;
    margin: auto;
    border: 1px solid var(--brown-color);
    padding: 1rem;
    font-size: small;
    margin-bottom: 1rem;
   }

  /** footers **/
.footer {
    background-color: var(--grey-color);
    padding: 2rem 1rem;
    text-align: center;
    color: var(--primary-color);
    border-top-right-radius: 1rem;
    margin-top: 50px;
  }
  
  .footer .link {
    color: var(--primary-color);
    font-size: 16px;
    padding: 0;
  }
  
  
  .footer ul {
    padding-inline-start: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  .icons {
    width: 20px;
  }
  .list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
  }
  @media screen and (min-width:767px){
    .footer ul {
        justify-content: flex-end;
    }
  }